*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(../../url_style_page/index/content_index.css);
@import url(../../url_style_elem/footer/footer.css);
@import url(../../url_style_elem/photo/photo.css);
@import url(../../url_style_page/shop/shop.css);
@import url(../../url_style_page/busket/busket.css);

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

@keyframes footer {
    0%{
        background-size: 100% 200%;;
        background-position: 0% 50%;
    }
    50%{
        
        background-position: 50% 100%;
    }
    100%{
        background-size: 100% 200%;
        background-position: 0% 50%;
    }
}

@keyframes smoke {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes color {
    0%{
        text-shadow: 0px 0px 5px wheat;
        color: wheat;
    }
    50%{
        text-shadow: 0px 0px 15px wheat;
        color: white;
    }
    100%{
        text-shadow: 0px 0px 5px wheat;
        color: wheat;
    }
}

@media (min-width: 1920px){
    /*********header****/ 
    header{
        box-shadow: 0px 0px 10px 5px #474747;
        position: relative;
        padding: 30px 0;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../image/bg.jpg');
        display: grid;
        grid-template-columns: 1fr 1024px 1fr; 
        animation: smoke 30s infinite;
        background-size: cover;
        &::before{
            position: absolute;
            content: "";
            background: url(../../image/fog.png);
            width: 100%;
            height: 100%;
            animation: smoke 30s ease-in infinite;
            background-repeat: repeat-x;
            background-size: 400%;
            background-position: center;
        }
        &::after{
            position: absolute;
            content: "";
            background: url(../../image/fog-1.png);
            width: 100%;
            height: 100%;
            animation: smoke 50s linear 0s infinite;
            background-repeat: repeat-x;
            background-size: 400%;
            background-position: center;
        }
    }
    header > .header_container{
        position: relative;
        grid-column: 2;
        padding: 0 10px;
        display: grid;
        gap: 70px;
        z-index: 1;
    }
    .header_navigation{
        display: grid;
        gap: 30px;
        & > div{
            display: flex;
            align-items: center;
            justify-content: center;
            & > h2{
                & > a{
                    animation: color 3s ease-in infinite;
                    //color: white;
                    font-family: batman;
                    font-size: 42px;
                    letter-spacing: 2px;
                }
            }
        }
        & > nav{
            display: flex;
            justify-content: center;
            align-items: center;
            & > ul{
                justify-content: center;
                display: flex;
                gap: 25px;
                flex-wrap: wrap;
                & > li{
                    & > a{
                        color: white;
                        font-family: leto;
                        border-bottom: 1px solid rgba(255, 255, 255, 0);
                        transition: 0.3s;
                        font-size: 24px;
                        &:hover{
                            border-bottom: 1px solid rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
    .header_hello{
        & > div{
            display: grid;
            gap: 10px;
            color: white;
            justify-items: center;
            & > h3{
                font-family: face;
                letter-spacing: 2px;
            }
            & > p{
                font-family: leto;
                font-size: 24px;
                width: 300px;
                text-align: center;
            }
        }
    }
    .header_button{
        & > div{
            display: flex;
            justify-content: center;
            & > div{
                letter-spacing: 2px;
                width: 300px;
                border: 1px solid white;
                background: transparent;
                display: flex;
                justify-content: center;
                padding: 10px 0;
                cursor: pointer;
                color: white;
                font-family: face;
                font-size: 18px;
                position: relative;
                transition: 0.4s;
                overflow: hidden;
                &:hover::before{
                    left: 100%;
                }
                &:active::before{
                    left: 100%;
                }
                &:focus::before{
                    left: 100%;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
                    transition: left 0.7s;
                }
            }
        }
    }
    /********feedback********/
    .feedback{
        display: grid;
        grid-template-columns: 1fr 1024px 1fr;  
        position: relative;
        padding: 30px 0;
        background-color: rgb(0, 0, 0);
    }
    .feedback > .feedback_container{
        padding: 40px 10px;
        grid-column: 2;
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }
    .feedback_container > section{
        color: white;
        display: grid;
        justify-items: center;
        & > h2{
            font-family: face;
            font-size: 42px;
            letter-spacing: 2px;
            position: relative;
            text-shadow: 0px 0px 20px white;
            text-align: center;
        }
        & > p{
            font-family: leto;
            font-size: 24px;
            width: 300px;
            text-align: center;
        }
    }
    .feedback_form{
        & > form{
            display: grid;
            gap: 40px;
            & > .name{
                display: grid;
                gap: 20px;
                & > input{
                    border: none;
                    outline: none;
                    background: transparent;
                    width: 100%;
                    padding: 10px;
                    color: white;
                    border-bottom: 1px solid white;
                    font-size: 24px;
                    font-family: leto;
                    transition: 0.3s;
                    &:focus{
                        box-shadow: 0px 0px 10px 5px white;
                    }
                    &::placeholder{
                        color: rgb(77, 77, 77);
                        text-transform: uppercase;
                    }
                } 
            }
            & > .button{
                & > input{
                    border: 1px solid white;
                    outline: none;
                    background: transparent;
                    width: 100%;
                    padding: 10px;
                    color: white;
                    font-family: leto;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        box-shadow: 0px 0px 10px 5px white;
                    }
                    &:focus{
                        transform: scale(0.95);
                    }
                }
            }
        }
    } 
}