@charset "UTF-8";
@import url("../catalog/catalog.css");
@import url("../feedback/feedback.css");
@import url("../work/work.css");
@import url("../policy/policy.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_segoeuil";
  src: url("../../fonts/segoeuil.eot");
  src: local("☺"), url("../../fonts/segoeuil.woff") format("woff"), url("../../fonts/segoeuil.ttf") format("truetype"), url("../../fonts/segoeuil.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Conv_segoeuil";
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.header-lozung {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-lozung > h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.wrapper {
  font-family: "Conv_segoeuil";
}

header {
  z-index: 4;
}

.id {
  color: wheat;
  background: linear-gradient(90deg, #7d4700, black);
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
    padding: 0 10px;
  }

  /*******header*****/
  .header {
    transition: 0.3s;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgb(139, 139, 139);
    padding-bottom: 30px;
  }
  .header::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(330deg, transparent, black);
  }
  .header_list {
    display: none;
  }

  .navigation {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 3fr 1fr;
  }

  .header-nav {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    padding: 10px 0px;
  }
  .header-nav > .logo {
    color: white;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .header-menu-mobile > .burger {
    display: grid;
    gap: 5px;
  }
  .header-menu-mobile > .burger > div {
    transition: 0.4s;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger.z-index {
    z-index: 10;
    position: relative;
  }
  .burger.z-index > div:nth-child(1) {
    background-color: rgb(255, 255, 255);
    transform: translateX(8px) rotate(45deg) translateY(10px);
  }
  .burger.z-index > div:nth-child(3) {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }
  .burger.z-index > div:nth-child(2) {
    display: none;
  }

  .header-div-pag {
    display: flex;
    justify-content: center;
  }
  .header-div-pag > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    align-items: center;
  }
  .header-div-pag > ul > li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    list-style-type: none;
    box-shadow: 0px 0px 2px 1px white;
  }

  .header-feedback {
    display: flex;
    justify-content: center;
  }
  .header-feedback > div {
    background: transparent;
    width: 200px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
  }
  .header-feedback > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-ul {
    position: fixed;
    background: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    top: -100%;
    height: 100%;
    transition: 0.4s;
  }

  .header-ul.active {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    transition: 0.4s;
    padding: 20px;
    overflow-y: scroll;
  }
  .header-ul.active > li {
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .header-ul.active > li > a {
    text-decoration: none;
    color: white;
  }
  .header-ul.active > li > a:hover {
    border-bottom: 1px solid white;
  }

  .li-pag.active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px white;
    width: 20px;
    height: 20px;
  }

  /*******section-about*****/
  .section-about {
    padding: 20px 0;
    position: relative;
    z-index: 3;
  }

  .about_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .about_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .about_text {
    padding: 10px 0;
    text-align: justify;
  }

  .scroll-to-feedback > div {
    width: 200px;
    padding: 15px 0;
    background-color: #f88d00;
    cursor: pointer;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(1);
  }
  .scroll-to-feedback > div:hover {
    box-shadow: 0px 0px 10px 3px #ccc;
  }
  .scroll-to-feedback > div:active {
    transform: scale(0.9);
  }
  .scroll-to-feedback > div > h3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
  }

  /*******section-aboutUs*******/
  .section-aboutUs {
    padding: 20px 0;
    position: relative;
  }

  .aboutUs_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .aboutUs_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .aboutUs_text {
    padding: 10px 0;
    text-align: justify;
  }

  /********sentence*****/
  .section-sentence {
    padding: 20px 0;
  }

  .sentence_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .sentence_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .sentence_text {
    padding: 10px 0;
    text-align: justify;
  }
  .sentence_image {
    padding: 20px 0;
    display: grid;
    gap: 10px;
    position: relative;
  }
  .sentence_image > div {
    width: 100%;
    transition: 0.3s;
  }
  .sentence_image > div:hover > span {
    height: 70px;
    color: white;
    box-shadow: 0px 0px 10px 5px white;
  }
  .sentence_image > div > span {
    display: flex;
    background-color: #f88d00;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: transparent;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 10px 5px #ffad37;
  }
  .sentence_image > div > img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /*******section-benefits*****/
  .section-benefits {
    background-color: rgb(41, 41, 41);
    padding: 20px 0px;
  }

  .benefits {
    display: grid;
    gap: 30px;
  }

  .benefits-head > h2 {
    color: white;
    text-align: center;
  }

  .benefits-article {
    display: grid;
    gap: 30px;
  }
  .benefits-article_div > span {
    color: white;
    display: flex;
    font-size: 34px;
    justify-content: center;
    padding: 5px 0px;
  }
  .benefits-article_div > p {
    color: white;
    text-align: center;
  }

  /******section-feedback*****/
  .section-feedback {
    padding: 20px 0;
    background-image: url("../../img/feed.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    box-shadow: 0px 0px 10px 5px black;
  }
  .section-feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .feedback {
    position: relative;
    display: grid;
    gap: 30px;
  }
  .feedback_div > h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
  }
  .feedback_div > p {
    text-align: center;
    color: white;
  }

  .generalForm {
    display: grid;
    gap: 10px;
  }
  .generalForm > input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    color: white;
  }
  .generalForm > input::-moz-placeholder {
    color: white;
  }
  .generalForm > input:-ms-input-placeholder {
    color: white;
  }
  .generalForm > input::placeholder {
    color: white;
  }
  .generalForm > input:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm > textarea {
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
  }
  .generalForm > textarea::-moz-placeholder {
    color: white;
  }
  .generalForm > textarea:-ms-input-placeholder {
    color: white;
  }
  .generalForm > textarea::placeholder {
    color: white;
  }
  .generalForm > textarea:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm_block-label {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
  }
  .generalForm_block-label:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  .feedback-personal-data {
    padding: 10px 0;
  }
  .feedback-personal-data_input {
    display: none;
  }
  .feedback-personal-data_input:checked + .feedback-personal-data_label::after {
    transform: scale(1);
  }
  .feedback-personal-data_label {
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
  }
  .feedback-personal-data_label::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
  }
  .feedback-personal-data_label::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #f88d00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s;
  }
  .feedback-personal-data .personal-data {
    grid-column: 2;
  }
  .feedback-personal-data .personal-data > span {
    color: white;
  }
  .feedback-personal-data .personal-data > a {
    text-decoration: none;
    color: white;
  }

  .feedback-button > button {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    transform: scale(1);
  }
  .feedback-button > button:active {
    transform: scale(0.9);
  }
  .feedback-button > button:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  /*******footer*****/
  .footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }

  .footer-section {
    display: grid;
    color: white;
  }
  .footer-section_dev > h4 {
    color: #f88d00;
  }
  .footer-section_about > h4 {
    color: #f88d00;
  }
  .footer-section_feed > h4 {
    color: #f88d00;
  }

  .footer-section_dev-block {
    display: grid;
    gap: 5px;
  }
  .footer-section_dev-block > span > a {
    text-decoration: none;
    color: white;
  }

  /*******catalog*****/
}
@media (min-width: 481px) and (max-width: 600px) {
  .container {
    min-width: 481px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*******header*****/
  .header {
    transition: 0.3s;
    background-size: cover;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgb(139, 139, 139);
  }
  .header::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(330deg, transparent, black);
  }
  .header_list {
    display: none;
  }

  .navigation {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 3fr 1fr;
  }

  .header-nav {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    padding: 10px 0px;
  }
  .header-nav > .logo {
    color: white;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .header-menu-mobile > .burger {
    display: grid;
    gap: 5px;
  }
  .header-menu-mobile > .burger > div {
    transition: 0.4s;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger.z-index {
    position: relative;
    z-index: 10;
  }
  .burger.z-index > div:nth-child(1) {
    background-color: rgb(255, 255, 255);
    transform: translateX(8px) rotate(45deg) translateY(10px);
  }
  .burger.z-index > div:nth-child(3) {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }
  .burger.z-index > div:nth-child(2) {
    display: none;
  }

  .header-div-pag {
    display: flex;
    justify-content: center;
  }
  .header-div-pag > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    align-items: center;
  }
  .header-div-pag > ul > li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    list-style-type: none;
    box-shadow: 0px 0px 2px 1px white;
  }

  .header-feedback {
    display: flex;
    justify-content: center;
  }
  .header-feedback > div {
    background: transparent;
    width: 200px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
  }
  .header-feedback > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-ul {
    position: fixed;
    background: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    top: -100%;
    height: 100%;
    transition: 0.4s;
  }

  .header-ul.active {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    transition: 0.4s;
    padding: 20px;
    overflow: scroll;
  }
  .header-ul.active > li {
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .header-ul.active > li > a {
    text-decoration: none;
    color: white;
  }
  .header-ul.active > li > a:hover {
    border-bottom: 1px solid white;
  }

  .li-pag.active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px white;
    width: 20px;
    height: 20px;
  }

  /*******section-about*****/
  .section-about {
    padding: 20px 0;
    position: relative;
    z-index: 3;
  }

  .about_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .about_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .about_text {
    padding: 10px 0;
    text-align: justify;
  }

  .scroll-to-feedback > div {
    width: 200px;
    padding: 15px 0;
    background-color: #f88d00;
    cursor: pointer;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(1);
  }
  .scroll-to-feedback > div:hover {
    box-shadow: 0px 0px 10px 3px #ccc;
  }
  .scroll-to-feedback > div:active {
    transform: scale(0.9);
  }
  .scroll-to-feedback > div > h3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
  }

  /*******section-aboutUs*******/
  .section-aboutUs {
    padding: 20px 0;
    position: relative;
  }

  .aboutUs_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .aboutUs_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .aboutUs_text {
    padding: 10px 0;
    text-align: justify;
  }

  /********sentence*****/
  .section-sentence {
    padding: 20px 0;
  }

  .sentence_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .sentence_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .sentence_text {
    padding: 10px 0;
    text-align: justify;
  }
  .sentence_image {
    padding: 20px 0;
    display: grid;
    gap: 10px;
    position: relative;
  }
  .sentence_image > div {
    width: 100%;
    transition: 0.3s;
  }
  .sentence_image > div:hover > span {
    height: 70px;
    color: white;
    box-shadow: 0px 0px 10px 5px white;
  }
  .sentence_image > div > span {
    display: flex;
    background-color: #f88d00;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: transparent;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 10px 5px #ffad37;
  }
  .sentence_image > div > img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /*******section-benefits*****/
  .section-benefits {
    background-color: rgb(41, 41, 41);
    padding: 20px 0px;
  }

  .benefits {
    display: grid;
    gap: 30px;
  }

  .benefits-head > h2 {
    color: white;
    text-align: center;
  }

  .benefits-article {
    display: grid;
    gap: 30px;
  }
  .benefits-article_div > span {
    color: white;
    display: flex;
    font-size: 34px;
    justify-content: center;
    padding: 5px 0px;
  }
  .benefits-article_div > p {
    color: white;
    text-align: center;
  }

  /******section-feedback*****/
  .section-feedback {
    padding: 20px 0;
    background-image: url("../../img/feed.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    box-shadow: 0px 0px 10px 5px black;
  }
  .section-feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .feedback {
    position: relative;
    display: grid;
    gap: 30px;
  }
  .feedback_div > h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
  }
  .feedback_div > p {
    text-align: center;
    color: white;
  }

  .generalForm {
    display: grid;
    gap: 10px;
  }
  .generalForm > input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    color: white;
  }
  .generalForm > input::-moz-placeholder {
    color: white;
  }
  .generalForm > input:-ms-input-placeholder {
    color: white;
  }
  .generalForm > input::placeholder {
    color: white;
  }
  .generalForm > input:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm > textarea {
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
  }
  .generalForm > textarea::-moz-placeholder {
    color: white;
  }
  .generalForm > textarea:-ms-input-placeholder {
    color: white;
  }
  .generalForm > textarea::placeholder {
    color: white;
  }
  .generalForm > textarea:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm_block-label {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
  }
  .generalForm_block-label:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  .feedback-personal-data {
    padding: 10px 0;
  }
  .feedback-personal-data_input {
    display: none;
  }
  .feedback-personal-data_input:checked + .feedback-personal-data_label::after {
    transform: scale(1);
  }
  .feedback-personal-data_label {
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
  }
  .feedback-personal-data_label::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
  }
  .feedback-personal-data_label::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #f88d00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s;
  }
  .feedback-personal-data .personal-data {
    grid-column: 2;
  }
  .feedback-personal-data .personal-data > span {
    color: white;
  }
  .feedback-personal-data .personal-data > a {
    text-decoration: none;
    color: white;
  }

  .feedback-button > button {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    transform: scale(1);
  }
  .feedback-button > button:active {
    transform: scale(0.9);
  }
  .feedback-button > button:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  /*******footer*****/
  .footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }

  .footer-section {
    display: grid;
    color: white;
  }
  .footer-section_dev > h4 {
    color: #f88d00;
  }
  .footer-section_about > h4 {
    color: #f88d00;
  }
  .footer-section_feed > h4 {
    color: #f88d00;
  }

  .footer-section_dev-block {
    display: grid;
    gap: 5px;
  }
  .footer-section_dev-block > span > a {
    text-decoration: none;
    color: white;
  }

  /*******catalog*****/
}
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    min-width: 601px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*******header*****/
  .header {
    transition: 0.3s;
    background-size: cover;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgb(139, 139, 139);
  }
  .header::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(330deg, transparent, black);
  }
  .header_list {
    display: none;
  }

  .navigation {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 3fr 1fr;
  }

  .header-nav {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    padding: 10px 0px;
  }
  .header-nav > .logo {
    color: white;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .header-menu-mobile > .burger {
    display: grid;
    gap: 5px;
  }
  .header-menu-mobile > .burger > div {
    transition: 0.4s;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger.z-index {
    position: relative;
    z-index: 10;
  }
  .burger.z-index > div:nth-child(1) {
    background-color: rgb(255, 255, 255);
    transform: translateX(8px) rotate(45deg) translateY(10px);
  }
  .burger.z-index > div:nth-child(3) {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }
  .burger.z-index > div:nth-child(2) {
    display: none;
  }

  .header-div-pag {
    display: flex;
    justify-content: center;
  }
  .header-div-pag > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    align-items: center;
  }
  .header-div-pag > ul > li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    list-style-type: none;
    box-shadow: 0px 0px 2px 1px white;
  }

  .header-feedback {
    display: flex;
    justify-content: center;
  }
  .header-feedback > div {
    cursor: pointer;
    background: transparent;
    width: 200px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
  }
  .header-feedback > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-ul {
    position: fixed;
    background: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    top: -100%;
    height: 100%;
    transition: 0.4s;
  }

  .header-ul.active {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    transition: 0.4s;
    padding: 20px;
    overflow: scroll;
  }
  .header-ul.active > li {
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .header-ul.active > li > a {
    text-decoration: none;
    color: white;
  }
  .header-ul.active > li > a:hover {
    border-bottom: 1px solid white;
  }

  .li-pag.active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px white;
    width: 20px;
    height: 20px;
  }

  /*******section-about*****/
  .section-about {
    padding: 20px 0;
    position: relative;
    z-index: 3;
  }

  .about_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .about_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .about_text {
    padding: 10px 0;
    text-align: justify;
  }

  .scroll-to-feedback > div {
    width: 200px;
    padding: 15px 0;
    background-color: #f88d00;
    cursor: pointer;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(1);
  }
  .scroll-to-feedback > div:hover {
    box-shadow: 0px 0px 10px 3px #ccc;
  }
  .scroll-to-feedback > div:active {
    transform: scale(0.9);
  }
  .scroll-to-feedback > div > h3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
  }

  /*******section-aboutUs*******/
  .section-aboutUs {
    padding: 20px 0;
    position: relative;
  }

  .aboutUs_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .aboutUs_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .aboutUs_text {
    padding: 10px 0;
    text-align: justify;
  }

  /********sentence*****/
  .section-sentence {
    padding: 20px 0;
  }

  .sentence_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .sentence_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .sentence_text {
    padding: 10px 0;
    text-align: justify;
  }
  .sentence_image {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
  }
  .sentence_image > div {
    width: 100%;
    transition: 0.3s;
    position: relative;
  }
  .sentence_image > div > span {
    position: absolute;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background-color: #f88d00;
  }
  .sentence_image > div > img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 140px;
  }

  /*******section-benefits*****/
  .section-benefits {
    background-color: rgb(41, 41, 41);
    padding: 20px 0px;
  }

  .benefits {
    display: grid;
    gap: 30px;
  }

  .benefits-head > h2 {
    color: white;
    text-align: center;
  }

  .benefits-article {
    display: grid;
    gap: 30px;
  }
  .benefits-article_div > span {
    color: white;
    display: flex;
    font-size: 34px;
    justify-content: center;
    padding: 5px 0px;
  }
  .benefits-article_div > p {
    color: white;
    text-align: center;
  }

  /******section-feedback*****/
  .section-feedback {
    padding: 20px 0;
    background-image: url("../../img/feed.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    box-shadow: 0px 0px 10px 5px black;
  }
  .section-feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .feedback {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .feedback_div > h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
  }
  .feedback_div > p {
    text-align: center;
    color: white;
  }

  .generalForm {
    display: grid;
    gap: 10px;
  }
  .generalForm > input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    color: white;
  }
  .generalForm > input::-moz-placeholder {
    color: white;
  }
  .generalForm > input:-ms-input-placeholder {
    color: white;
  }
  .generalForm > input::placeholder {
    color: white;
  }
  .generalForm > input:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm > textarea {
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
  }
  .generalForm > textarea::-moz-placeholder {
    color: white;
  }
  .generalForm > textarea:-ms-input-placeholder {
    color: white;
  }
  .generalForm > textarea::placeholder {
    color: white;
  }
  .generalForm > textarea:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm_block-label {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
  }
  .generalForm_block-label:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  .feedback-personal-data {
    padding: 10px 0;
  }
  .feedback-personal-data_input {
    display: none;
  }
  .feedback-personal-data_input:checked + .feedback-personal-data_label::after {
    transform: scale(1);
  }
  .feedback-personal-data_label {
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
  }
  .feedback-personal-data_label::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
  }
  .feedback-personal-data_label::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #f88d00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s;
  }
  .feedback-personal-data .personal-data {
    grid-column: 2;
  }
  .feedback-personal-data .personal-data > span {
    color: white;
  }
  .feedback-personal-data .personal-data > a {
    text-decoration: none;
    color: white;
  }

  .feedback-button > button {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    transform: scale(1);
  }
  .feedback-button > button:active {
    transform: scale(0.9);
  }
  .feedback-button > button:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  /*******footer*****/
  .footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }

  .footer-section {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-section_dev > h4 {
    color: #f88d00;
  }
  .footer-section_about > h4 {
    color: #f88d00;
  }
  .footer-section_feed > h4 {
    color: #f88d00;
  }

  .footer-section_dev-block {
    display: grid;
    gap: 5px;
  }
  .footer-section_dev-block > span > a {
    text-decoration: none;
    color: white;
  }

  /*******catalog*****/
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .container {
    max-width: 1025px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*******header*****/
  .header {
    transition: 0.3s;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgb(139, 139, 139);
    padding-bottom: 30px;
    -webkit-animation: header 10s ease infinite;
            animation: header 10s ease infinite;
  }
  .header::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(330deg, transparent, black);
  }
  .header_list {
    display: none;
  }

  .navigation {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 3fr 1fr;
  }

  .header-nav {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    padding: 10px 0px;
  }
  .header-nav > .logo {
    color: white;
    font-size: 32px;
  }

  .header-menu-mobile {
    display: none;
    justify-content: flex-end;
  }
  .header-menu-mobile > .burger {
    display: grid;
    gap: 5px;
  }
  .header-menu-mobile > .burger > div {
    transition: 0.4s;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .burger.z-index {
    position: relative;
    z-index: 10;
  }
  .burger.z-index > div:nth-child(1) {
    background-color: rgb(255, 255, 255);
    transform: translateX(8px) rotate(45deg) translateY(10px);
  }
  .burger.z-index > div:nth-child(3) {
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }
  .burger.z-index > div:nth-child(2) {
    display: none;
  }

  .header-div-pag {
    display: flex;
    justify-content: center;
  }
  .header-div-pag > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    align-items: center;
  }
  .header-div-pag > ul > li {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    list-style-type: none;
    box-shadow: 0px 0px 2px 1px white;
  }

  .header-feedback {
    display: flex;
    justify-content: center;
  }
  .header-feedback > div {
    cursor: pointer;
    background: transparent;
    width: 200px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
  }
  .header-feedback > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-ul {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
  }
  .header-ul > li {
    list-style-type: none;
  }
  .header-ul > li > a {
    border-bottom: 1px solid transparent;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
  }
  .header-ul > li > a:hover {
    border-bottom: 1px solid white;
  }

  .header-ul.active {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    transition: 0.4s;
    padding: 20px;
    overflow: scroll;
  }
  .header-ul.active > li {
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .header-ul.active > li > a {
    text-decoration: none;
    color: white;
  }
  .header-ul.active > li > a:hover {
    border-bottom: 1px solid white;
  }

  .li-pag.active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px white;
    width: 20px;
    height: 20px;
  }

  /*******section-about*****/
  .section-about {
    padding: 20px 0;
    position: relative;
    z-index: 3;
  }

  .about_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .about_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .about_text {
    padding: 10px 0;
    text-align: justify;
    font-size: 20px;
  }

  .scroll-to-feedback > a {
    display: block;
    width: 200px;
    padding: 15px 0;
    background-color: #f88d00;
    cursor: pointer;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(1);
  }
  .scroll-to-feedback > a:hover {
    box-shadow: 0px 0px 10px 3px #ccc;
  }
  .scroll-to-feedback > a:active {
    transform: scale(0.9);
  }
  .scroll-to-feedback > a > h3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
  }
  .scroll-to-feedback > div {
    width: 200px;
    padding: 15px 0;
    background-color: #f88d00;
    cursor: pointer;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(1);
  }
  .scroll-to-feedback > div:hover {
    box-shadow: 0px 0px 10px 3px #ccc;
  }
  .scroll-to-feedback > div:active {
    transform: scale(0.9);
  }
  .scroll-to-feedback > div > h3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
  }

  /*******section-aboutUs*******/
  .section-aboutUs {
    padding: 20px 0;
    position: relative;
  }

  .aboutUs_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .aboutUs_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .aboutUs_text {
    padding: 10px 0;
    text-align: justify;
    font-size: 20px;
  }

  /********sentence*****/
  .section-sentence {
    padding: 20px 0;
  }

  .sentence_head {
    background-color: #f88d00;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .sentence_head > h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .sentence_text {
    padding: 10px 0;
    text-align: justify;
    font-size: 20px;
  }
  .sentence_image {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
  }
  .sentence_image > div {
    width: 100%;
    transition: 0.3s;
    position: relative;
  }
  .sentence_image > div > span {
    position: absolute;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background-color: #f88d00;
  }
  .sentence_image > div > img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 240px;
  }

  /*******section-benefits*****/
  .section-benefits {
    padding: 50px 0px;
  }

  .benefits {
    display: grid;
    gap: 30px;
  }

  .benefits-head > h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  .benefits-article {
    display: grid;
    gap: 30px;
    grid-template-columns: auto;
    grid-auto-flow: column;
  }
  .benefits-article_div {
    background: linear-gradient(338deg, #7d4700, #d67a00, black);
    padding: 25px 10px;
    border-radius: 15px;
    background-size: 300%;
    -webkit-animation: benefits 5s ease infinite;
            animation: benefits 5s ease infinite;
    box-shadow: 0px 0px 10px 5px wheat;
  }
  .benefits-article_div > span {
    color: white;
    display: flex;
    font-size: 34px;
    justify-content: center;
    padding: 5px 0px;
  }
  .benefits-article_div > p {
    color: white;
    text-align: center;
    font-size: 20px;
  }

  /******section-feedback*****/
  .section-feedback {
    padding: 20px 0;
    background-image: url("../../img/feed.jpg");
    background-size: 100%;
    background-position: bottom;
    position: relative;
    box-shadow: 0px 0px 10px 5px black;
    -webkit-animation: feedback 20s ease-out infinite;
            animation: feedback 20s ease-out infinite;
  }
  .section-feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .feedback {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .feedback_div > h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
  }
  .feedback_div > p {
    text-align: center;
    color: white;
  }

  .generalForm {
    display: grid;
    gap: 10px;
  }
  .generalForm > input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
    color: white;
  }
  .generalForm > input::-moz-placeholder {
    color: white;
  }
  .generalForm > input:-ms-input-placeholder {
    color: white;
  }
  .generalForm > input::placeholder {
    color: white;
  }
  .generalForm > input:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm > textarea {
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    background-color: transparent;
  }
  .generalForm > textarea::-moz-placeholder {
    color: white;
  }
  .generalForm > textarea:-ms-input-placeholder {
    color: white;
  }
  .generalForm > textarea::placeholder {
    color: white;
  }
  .generalForm > textarea:focus {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }
  .generalForm_block-label {
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
  }
  .generalForm_block-label:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  .feedback-personal-data {
    padding: 10px 0;
  }
  .feedback-personal-data_input {
    display: none;
  }
  .feedback-personal-data_input:checked + .feedback-personal-data_label::after {
    transform: scale(1);
  }
  .feedback-personal-data_label {
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
  }
  .feedback-personal-data_label::before {
    cursor: pointer;
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
  }
  .feedback-personal-data_label::after {
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #f88d00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s;
  }
  .feedback-personal-data .personal-data {
    grid-column: 2;
  }
  .feedback-personal-data .personal-data > span {
    color: white;
  }
  .feedback-personal-data .personal-data > a {
    text-decoration: none;
    color: white;
  }

  .feedback-button > button {
    cursor: pointer;
    display: grid;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    transform: scale(1);
  }
  .feedback-button > button:active {
    transform: scale(0.9);
  }
  .feedback-button > button:hover {
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  }

  /*******footer*****/
  .footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
  }

  .footer-section {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-section_dev > h4 {
    color: #f88d00;
  }
  .footer-section_about > h4 {
    color: #f88d00;
  }
  .footer-section_feed > h4 {
    color: #f88d00;
  }

  .footer-section_dev-block {
    display: grid;
    gap: 5px;
  }
  .footer-section_dev-block > span > a {
    text-decoration: none;
    color: white;
  }

  /*******animation*****/
  @-webkit-keyframes benefits {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
  @keyframes benefits {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
  @-webkit-keyframes feedback {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
  @keyframes feedback {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
  @-webkit-keyframes header {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
  @keyframes header {
    0% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
    50% {
      background-position: 50% 100%;
      box-shadow: 0px 0px 20px 5px wheat;
    }
    100% {
      background-position: 0% 50%;
      box-shadow: 0px 0px 10px 5px wheat;
    }
  }
}/*# sourceMappingURL=style.css.map */