

.enter{
    & > div{
        display: grid;
        justify-items: center;
        gap: 25px;
    }
}
.admin_enter{
    padding: 10em;
}
.form-enter{
    display: grid;
    justify-items: center;
    gap: 10px;
    & > input{
        background: transparent;
        padding: 5px;
        border: none;
        border: 1px solid rgb(255, 255, 255);
        outline: none;
        transition: 0.3s;
        width: 100%;
        &:focus{
            box-shadow: 0px 0px 10px 5px white;
        }
        &:last-child{
            cursor: pointer;
            border: 1px solid white;
            background: transparent;
            color: white;
            &:hover{
                box-shadow: 0px 0px 10px 5px white;
            }
        }
    }
}

.head-download{
    display: grid;
    gap: 10px;
    justify-items: center;
    & > a{
        color: white;
        border: 1px solid wheat;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 15px;
        cursor: pointer;
        background: #ffffff2e;
        transition: 0.3s;
        &:hover{
            box-shadow: 0px 0px 5px 3px white;
            background: #ffa8a82e;
        }
    }
}
.form-download{
    background: #ffffff2e;
    padding: 20px;
    display: grid;
    width: 50%;
    gap: 10px;
    border-radius: 15px;
}
.form-download_name{
    display: grid;
    gap: 5px;
    & > input{
        width: 100%;
        border: none;
        outline: none;
        transition: 0.3s;
        padding: 5px;
    }
}
.form-download_value-img{
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
    & > input{
        display: none;
    }
    & > label{
        color: white;
        border: 1px solid wheat;
        background: #ffffff2e;
        transition: 0.3s;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        &:hover{
            box-shadow: 0px 0px 5px 3px white;
            background: #ffa8a82e;
        }
    }
}
.form-download_submit{
    justify-content: start;
    display: grid;
    & > input{
        color: white;
        border: 1px solid wheat;
        background: #ffffff2e;
        transition: 0.3s;
        cursor: pointer;
        padding: 10px;
        &:hover{
            box-shadow: 0px 0px 5px 3px white;
            background: #ffa8a82e;
        }
    }
}




.history{
    display: grid;
    gap: 30px;
}
.history_block{
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid;
    display: grid;
    padding: 20px 0;
    gap: 10px;
    &_col-one{ 
        & > div{
            width: 180px;
            display: grid;
            align-items: center;
            & > img{
                width: 100%;
            }
        }
    }
    &_col-two{
        display: grid;
    }
    
}
.history_block_delete{
    & > input{
        padding: 5px;
        cursor: pointer;
        width: 180px;
        background: #85858580;
        outline: none;
        color: white;
        border: 2px solid wheat;
        transition: 0.3s;
        border-radius: 10px;
        &:hover{
            box-shadow: 0px 0px 5px 3px white;
        }
    }
}